.hidden {
    display: none;
}

#clock {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 7px black;
    font-size: 4em;
}

form {
    text-align: center;
}

#title {
    color: white;
}
form input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: dashed 3px white;
    color : white;
}

form input[type="text"]:focus {
    outline: none;
}

form input[type="submit"], 
form input[type="button"], 
#todo-board li button {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
}
form input[type="submit"]:hover,
form input[type="button"]:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:white;
    font-weight: bold;
}

#todo-board li button:hover {
    background-color: rgba(212, 0, 0, 0.5);
    color: white;
    border: 1px solid white;
}

#todo-board {
    list-style: none;
    margin-right: 40px;
}
#todo-board li{
    color: white;
    clear: both;
    margin-top: 10px;
}
#todo-board li button{
    float: right;
}